.welcome-message {
    background: var(--app-white);
}

.friend {
    list-style-type: none;

    .friend--content {
        display: flex;
        width: fit-content;
        align-items: center;
        p {
            padding: 0px 0px 0px 5px
        }
    }

    .friend--img {
        width: 30px;
        height: 30px;
    }
}